<%= form_with(model: garment) do |form| %>
  <% if garment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(garment.errors.count, "error") %> prohibited this garment from being saved:</h2>

      <ul>
        <% garment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :brand_id, class: "form-label" %>
    <%= form.collection_select(:brand_id, Brand.all, :id, :name, { :include_blank => true }, {class: 'form-select'} )  %>
  </div>

  <div class="field">
    <%= form.label :garment_type_id, class: "form-label" %>
    <%= form.collection_select(:garment_type_id, GarmentType.all, :id, :name, { :include_blank => true }, {class: 'form-select'} )  %>
  </div>

  <div class="field">
    <%= form.label :color, class: "form-label" %>
    <%= form.text_field :color, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
