<p id="notice"><%= notice %></p>

<h1>Garments</h1>

<form method="GET" action="/garments">
  <input type="text" name="filter" />
  <input type="submit" />
</form>


<table class="table table-hover">
  <thead>
    <tr>
      <th><%= link_to "Brand", garments_path(:sort => true, :by => "brand_id", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Garment Type", garments_path(:sort => true, :by => "garment_type_id", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Color", garments_path(:sort => true, :by => "color", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th><%= link_to "Description", garments_path(:sort => true, :by => "description", :order => (params[:order] == "asc" ? "desc" : "asc")) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @garments.each do |garment| %>
      <tr>
        <td><%= garment.brand.name %></td>
        <td><%= garment.garment_type.name %></td>
        <td><%= garment.color %></td>
        <td><%= garment.description %></td>
        <td><%= link_to 'Show', garment %></td>
        <td><%= link_to 'Edit', edit_garment_path(garment) %></td>
        <td><%= link_to 'Destroy', garment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @garments %>

<br>

<%= link_to 'New Garment', new_garment_path, class: "btn btn-primary", style: "color:white" %>
