<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @broadcast.date %>
</p>

<p>
  <strong>Program number:</strong>
  <%= @broadcast.program_number %>
</p>

<%= link_to 'Edit', edit_broadcast_path(@broadcast) %> |
<%= link_to 'Back', broadcasts_path %>
